body {
    background-color: palevioletred;
}
p {
    display: inline;
    color: chocolate;
    background-color: blanchedalmond;
    font-size: 100px;
    text-decoration: underline;
    font-family: cursive; 
    text-align:center
}
div p a {
    color: crimson;
    text-decoration: none;
}
.dot{
    color: brown;
}

label {
    color: rgb(235, 53, 235);
    background-color: rgb(125, 3, 185);
    font-family: cursive; 

}
form {
    text-align: center;
}

form {
    /* border-width: 3px;
    border-style: dotted;
    border-color: crimson; */
    border: 3px dotted crimson;
}