body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    background: bottom linear-gradient(#13a393, #1ae5d0) fixed;
    display: flex;
}

.Web{
    display: flex;
    justify-content: center;
}

.HOME{
    display: flex;
    position: fixed;
    width: 81%;
    padding-left: 300px; ;
    justify-content: space-between;
    background-color: #039685;
    z-index: 1;
}

.HOME a{
    margin: 20px;
    margin-right: 0px;
    font-size: 30px;
    text-decoration: none;
    font-family: NerkoOne;
    color: #fff;
}

.progress-bar{
    position: fixed;
    left: 280px;
    top: 77px;
    width: 85%;
    height: 8px;
    background-color:#019082;
}

.progress{
    height: 8px;
    background-color: aquamarine;
    width: 0%;
}

.Web{
    position: relative;
    top: -40px;
    font-family: NerkoOne;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
}

.L{
    display: flex;
    justify-content: center;
    font-family: NerkoOne;
    font-size: 30px;
    letter-spacing: 4px;
    color: #005047;
    margin: 20px;
}

.NAV{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    justify-content: center;
    background-color: #026154;
    padding-bottom: 100px;
    width: 20%;
    height: 100vh;
    z-index: 2;
}

.Lesson{
    position: relative;
    top: 50px;
}

.hby{
    margin-left: 100px;

}

.text{
    padding-left: 350px;
    padding-right: 30px;
}

p{
    font-family: NerkoOne;
    font-size: 25px;
    padding: 10px;
    color: #dbf5f2;
}

.t{
    color: #dbf5f2;
    font-family: Mali;
    font-size: 25px;
    text-indent: 90px;
    text-align: justify;
    line-height: 1.5;
}

.questions{
    position: relative;
    text-align: center;
    border-radius: 10px;
    top: -40px;
}

.ques{
    font-family: NerkoOne;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
    color: #dbf5f2;
}

.q{
    display: block;
    text-decoration: none;
    font-family: NerkoOne;
    font-size: 25px;
    background-color: #61bebe;
    margin: 5px;
    padding: 5px;
    color: #00342e;
    border-radius: 10px;
}

.fastn{
    position: relative;
    top: -20px;
    left: -30px;
    width: 90%;
    height: 200px;
    padding: 0px 20px;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #026154; 
}

::-webkit-scrollbar-thumb {
    background: #00342e; 
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #005047; 
}

.na{
    display: inline-block;
    font-family: Mali;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    color: #6cf1b3;
}

li{
    list-style-type: none;
    background-color: #005047;
    padding: 5px;
    border-radius: 7px;
    margin: 5px;
}

label{
    font-family: NerkoOne;
    font-size: 25px;
    color: #dbf5f2;
    position: relative;
    left: 55px;
}

textarea{
    resize: none;
    width: 80%;
    height: 70px;
    background-color: #7ed5d5;
    border-radius: 10px;
    font-family: Mali;
    color: #00342e;
    border: none;
}

textarea::placeholder{
    color: #056157;
    padding-top: 5px;
    text-align: center;
}

button{
    position: relative;
    top: -20px;
    font-family: Mali;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #16613e;
    color: #dbf5f2;
    cursor: pointer;
}

.output{
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 160px;
    max-width: 900px;
    margin-top: 10px;
    color: #dbf5f2;
    border-radius: 10px;
    padding: 20px;
}

img{
    position: relative;
    top: -20px;
    left: 27px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 250px;
}

main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.Next{
    position: relative;
    top: 30px;
    left: 93%;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #16613e;
    border-radius: 5px;
    
}

.Next a{
    color: #dbf5f2;
    font-size: 25px;
    text-decoration: none;
    font-family: NerkoOne;
}