body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    background: radial-gradient(#119283, #03322d) fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

nav{
    display: inline-block;
    padding: 10px;
    border: 10px solid #019082;
    border-radius: 10% 25%;
    background-color: #019082;
}

nav a{
    font-family: NerkoOne;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}

form{
    text-align: center;
    position: relative;
    top: -50px;
}

input[type=text] {
    padding-left: 10px; 
    font-family: NerkoOne;
    color: #12f3d9;
    background-color: #03322d;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: #12f3d9 solid 2px;
    transition: width 0.4s ease-in-out;
}

input::placeholder{
    color: #12f3d9;
}

input[type=text]:focus{
    width: 500px;
    border: 3px solid #0b776e;
}

.hide{
    display: none;
}

.words{
    padding: 0px 50px 50px 50px;
}

.name{
    padding: 0px;
    margin: 0px;
    font-family: NerkoOne;
    font-size: 40px;
    color: #12f3d9;
}

.def{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-family: Mali;
    color: aliceblue;
}


.Btn {
    display: none;
    position: fixed;
    bottom: 90%;
    left: 95%;
    top: 90%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #019082;
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.Btn:hover {
    background-color: aquamarine;
}

.arrow{
    position: relative;
    bottom: 8px;
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}

.up{
    position: relative;
    transform: rotate(-135deg);
}

@media screen and (max-width: 768px){
    input[type=text] {
        padding-left: 10px; 
        font-family: NerkoOne;
        color: #12f3d9;
        background-color: #03322d;
        font-size: 20px;
        width: 250px;
        height: 50px;
        border-radius: 4px;
        border: #12f3d9 solid 2px;
        transition: none;
    }
    
    input::placeholder{
        color: #12f3d9;
    }
    
    input[type=text]:focus{
        width: 2500px;
        border: 3px solid #0b776e;
    }
    
}

@media screen and (max-width: 600px){
    input[type=text] {
        padding-left: 10px; 
        font-family: NerkoOne;
        color: #12f3d9;
        background-color: #03322d;
        font-size: 20px;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        border: #12f3d9 solid 2px;
        transition: none;
    }
    
    input::placeholder{
        color: #12f3d9;
    }
    
    input[type=text]:focus{
        width: 200px;
        border: 3px solid #0b776e;
    }
    
}

@media screen and (max-width: 425px) {

    nav{
        display: inline-block;
        padding: 10px;
        margin-bottom: 30px;
        border: 10px solid #019082;
        border-radius: 10% 25%;
        background-color: #019082;
    }
    
    nav a{
        font-family: NerkoOne;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
    }

    input[type=text] {
        position: fixed;
        left: 95px;
        top: 10px;
        padding-left: 10px; 
        font-family: NerkoOne;
        color: #12f3d9;
        background-color: #03322d;
        font-size: 20px;
        width: 150px;
        height: 45px;
        border-radius: 4px;
        border: #12f3d9 solid 2px;
        transition: none;
    }
    
    input::placeholder{
        color: #12f3d9;
    }
    
    input[type=text]:focus{
        width: 200px;
        border: 3px solid #0b776e;
    }

    .name{
        padding: 0px;
        margin: 0px;
        font-family: NerkoOne;
        font-size: 30px;
        color: #12f3d9;
    }
    
    .def{
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        font-family: Mali;
        color: aliceblue;
    }
}

