body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    background-image: 
        url("/img2/appliBG.svg");
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 20%, 0% 50%;
    overflow: hidden;
}


.appli{
    position: relative;
    top: -550px;
    display: grid;
    padding-left: 80px;
    column-gap: 200px;
    row-gap: 30px;
    grid-template-columns: 390px 390px;
}

.cont{
    display: grid;
    grid-template-columns: 400px;
    position: relative;
    left: 72%;
}

.tipsTr{
    position: relative;
    left: 300px;
}

p{
    display: block;
    font-family: Mali;
    font-size: 25px;
    margin: 0px;
    text-align: justify;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.home{
    font-family: NerkoOne;
    font-size: 50px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    text-shadow:-5px 4px #04766b;;
    margin-left: 20px;

}

h2{
    font-family: NerkoOne;
    font-size: 50px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    text-shadow:-5px 4px #04766b;
    letter-spacing: 2px;
}

.Cat{
    position: relative;
    left: 40px;
    width: 300px;
}

.Shad1{
    position: relative;
    left: 35px;
    width: 300px;
}

.tipstr{
    position: relative;
    width: 300px;
}

.Hue{
    width: 400px;
}