body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    background: linear-gradient( #44b496, #065548) fixed;
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 20%, 0% 50%;
    overflow: hidden;
    
}

.home a{
    text-decoration: none;
    color: aliceblue;
    font-family: NerkoOne;
    font-size: 50px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    text-shadow:-5px 4px #04766b;
    margin-left: 20px;
}

h1{
    display: inline-block;
    position: relative;
    left: 420px;
    font-family: NerkoOne;
    font-size: 50px;
    color: white;
    text-shadow:-5px 4px #04766b;
    letter-spacing: 5px;
    margin: 0px;
    margin-bottom: 40px;
}

h2{
    display: inline-block;
    position: relative;
    left: 50px;
    top: 15px;
    font-family: PlaywriteCU;
    font-size: 40px;
    color: #00584e;
    text-shadow:-5px 4px #91e9e0;
    text-align: center;
}

p{
    display: inline-block;
    position: relative;
    top: -50px;
    left: 52%;
    width: 200px;
    font-family: Mali;
    text-align: justify;
    font-size: 25px;
    color: white;
}

table{
    display: inline-block;
    position: relative;
    top: -10px;
    left: -580px;
    background-color: white;
    width: 550px;
}

td{
    border: 2px solid white;
    font-size: 25px;
}

form{
    display: grid;
    position: relative;
    left: 100px;
    grid-template-columns: 150px 150px 150px  150px;
    gap: 10px;
}

.t{
    font-family: NerkoOne;
    font-size: 30px;
    color: white;
}

.sub{
    font-family: NerkoOne;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
}

input{
    font-family: NerkoOne;
    font-size: 30px;
    color: white;
    width: 50px;
    background-color: transparent;
    border-bottom: 3px solid white;
    border-top: 0px transparent;
    border-left: 0px transparent;
    border-right: 0px transparent;
}


.ch1{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch2{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch3{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch4{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch5{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch6{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch7{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch8{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.ch9{
    display: none;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: red;
}

.Chn1{
    display: none;
    color: white;
    position: relative;
    top: -320px;
    left: 46%;
    width: 500px;
    font-family: Mali;
    font-size: 35px;
    margin: 0px;
}

.Chn2{
    display: none;
    color: white;
    position: relative;
    top: -320px;
    left: 46%;
    width: 500px;
    font-family: Mali;
    font-size: 35px;
    margin: 0px;
}

.Chn3{
    display: none;
    color: white;
    position: relative;
    top: -320px;
    left: 46%;
    width: 500px;
    font-family: Mali;
    font-size: 35px;
    margin: 0px;
}

.img1{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 50%;
    width: 30%;
    border: 5px solid white;
}

.img2{
    display: none;
    position: relative;
    top: 20px;
    left: 50%;
    width: 30%;
    border: 5px solid white;
}

.btn{
    font-family: NerkoOne;
    font-size: 17px;
    color: white;
    display: inline-block;
    position: relative;
    top: -435px;
    left: 82%;
    background-color: #009952;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.Next{
    position: relative;
    top: -10.5px;
    left: 93%;
    margin-bottom: 8px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #009952;
    border-radius: 5px;
    
}

.Next a{
    color: #dbf5f2;
    font-size: 25px;
    text-decoration: none;
    font-family: NerkoOne;
}