body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    background: bottom linear-gradient(#045349, #019082) fixed;
    display: flex;
}

.Web{
    display: flex;
    justify-content: center;
}


.HOME{
    display: flex;
    position: fixed;
    width: 81%;
    padding-left: 300px; ;
    justify-content: space-between;
    background-color: #028273;
    z-index: 1;
}

.HOME a{
    margin: 20px;
    margin-right: 0px;
    font-size: 30px;
    text-decoration: none;
    font-family: NerkoOne;
    color: #fff;
}

.progress-bar{
    position: fixed;
    left: 280px;
    top: 70px;
    width: 85%;
    height: 8px;
    background-color:#028273;
}

.progress{
    height: 8px;
    background-color: aquamarine;
    width: 0%;
}

.Web{
    position: relative;
    top: -40px;
    font-family: NerkoOne;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
}

.L{
    display: flex;
    justify-content: center;
    font-family: NerkoOne;
    font-size: 30px;
    letter-spacing: 4px;
    color: #00342e;
    margin: 20px;
}

.NAV{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    justify-content: center;
    background-color:#00342e;
    padding-bottom: 100px;
    width: 20%;
    height: 100vh;
    z-index: 2;
}

.Sat{
    padding-left: 23%;
    padding-top: 100px;
}

.val{
    padding-left: 10%;
}

.Sat p{
    display: inline;
    font-size: 30px;
    font-family: Mali;
    color: #dbf5f2;
    margin: 5px;
}

.range{
    position: relative;
    appearance: none;
    background: #61bebe;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    height: 20px;
    margin: 30px;
}

.range::-webkit-slider-thumb{
    background-color: #16613e;
    height: 35px;
    width: 35px;
    border: 0px;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

.range:hover{
    opacity: 1;
}

.Val{
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 2px solid #00342e;
    font-family: Mali;
    font-size: 20px;
}

.Mono{
    position: relative;
    width: 300px;
    left: 37%;
    padding: 0px;
}

.text{
    padding-left: 350px;
    padding-right: 30px;
}

p{
    font-family: NerkoOne;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
    color: #dbf5f2;
}

.t{
    color: #dbf5f2;
    font-family: Mali;
    font-size: 25px;
    text-indent: 90px;
    text-align: justify;
    line-height: 1.5;
}

.questions{
    text-align: center;
    border-radius: 10px;
}

.ques{
    font-family: NerkoOne;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
    color: #dbf5f2;
}

.q{
    display: block;
    text-decoration: none;
    font-family: NerkoOne;
    font-size: 25px;
    background-color: #61bebe;
    margin: 5px;
    color: #00342e;
    border-radius: 10px;
}

label{
    font-family: NerkoOne;
    font-size: 25px;
    color: #dbf5f2;
    position: relative;
    left: 55px;
}

.ccern{
    position: absolute;
    bottom: 125px;
    left: 42px;
}

textarea{
    resize: none;
    width: 80%;
    height: 70px;
    background-color: #7ed5d5;
    border-radius: 10px;
    font-family: cursive;
    color: #00342e;
    border: none;
}

textarea::placeholder{
    color: #056157;
    padding-top: 5px;
    text-align: center;
}

img{
    position: relative;
    left: 12px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 250px;
}

.main{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.Back{
    position: relative;
    top: 58px;
    left: 20.5%;
    margin-bottom: 8px;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #16613e;
    border-radius: 5px;
}

.Back a{
    color: #dbf5f2;
    font-size: 25px;
    text-decoration: none;
    font-family: NerkoOne;
}

.Next{
    position: relative;
    left: 93%;
    margin-bottom: 8px;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #16613e;
    border-radius: 5px;
    
}

.Next a{
    color: #dbf5f2;
    font-size: 25px;
    text-decoration: none;
    font-family: NerkoOne;
}