body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    background: bottom linear-gradient(#045349, #019082) fixed;
    display: flex;
}

.Web{
    display: flex;
    justify-content: center;
}


.HOME{
    display: flex;
    position: fixed;
    width: 81%;
    padding-left: 300px; ;
    justify-content: space-between;
    background-color: #028273;
    z-index: 1;
}

.HOME a{
    margin: 20px;
    margin-right: 0px;
    font-size: 30px;
    text-decoration: none;
    font-family: NerkoOne;
    color: #fff;
}

.progress-bar{
    position: fixed;
    left: 280px;
    top: 70px;
    width: 85%;
    height: 8px;
    background-color:#028273;
}

.progress{
    height: 8px;
    background-color: aquamarine;
    width: 0%;
}

.Web{
    position: relative;
    top: -40px;
    font-family: NerkoOne;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
}

.L{
    display: flex;
    justify-content: center;
    font-family: NerkoOne;
    font-size: 30px;
    letter-spacing: 4px;
    color: #00342e;
    margin: 20px;
}

.NAV{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    justify-content: center;
    background-color:#00342e;
    padding-bottom: 100px;
    width: 20%;
    height: 100vh;
    z-index: 2;
}

.Triadic{
    padding-left: 460px;
}

.triad{
    padding-top: 100px;
    padding-left: 250px;
}


h1{
    display: inline-block;
    font-family: NerkoOne;
    margin: 0px;
    color: #dbf5f2;
}

.resultBox1{
    display: inline-block;
    width: 300px;
    height: 150px;
    border: 5px solid #00342e;
    border-radius: 10px;
}

.resultBox2{
    display: inline-block;
    width: 300px;
    height: 150px;
    border: 5px solid #00342e;
    border-radius: 10px;
}

.resultBox3{
  display: inline-block;
  width: 300px;
  height: 150px;
  border: 5px solid #00342e;
  border-radius: 10px;
}

.color{
    display: inline-block;
    background-color: #00342e;
    width: 55px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
}

.Triad{
    position: relative;
    width: 300px;
    left: 37%;
    padding: 0px;
}

.text{
    padding-left: 350px;
    padding-right: 30px;
}

p{
    font-family: NerkoOne;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
    color: #dbf5f2;
}

.t{
    color: #dbf5f2;
    font-family: Mali;
    font-size: 25px;
    text-indent: 90px;
    text-align: justify;
    line-height: 1.5;
}


.questions{
    position: relative;
    text-align: center;
    border-radius: 10px;
    top: -50px;
}

.ques{
    font-family: NerkoOne;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
    color: #dbf5f2;
}

.q{
    display: block;
    text-decoration: none;
    font-family: NerkoOne;
    font-size: 25px;
    background-color: #61bebe;
    margin: 5px;
    padding: 5px;
    color: #00342e;
    border-radius: 10px;
}

.fastn{
    position: relative;
    top: -30px;
    left: -30px;
    width: 90%;
    height: 200px;
    padding: 0px 20px;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #028273; 
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    background: #045349; 
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #005047; 
}

.na{
    display: inline-block;
    font-family: Mali;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    color: #6cf1b3;
    padding: 10px;
}

.l{
    list-style-type: none;
    background-color: #028273;
    border-radius: 7px;
    margin: 5px;
}

.img1{
    position: relative;
    top: -20px;
    left: 27px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 250px;
}

.main{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.Back{
    position: relative;
    top: 58px;
    left: 20.5%;
    margin-bottom: 8px;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #16613e;
    border-radius: 5px;
}

.Back a{
    color: #dbf5f2;
    font-size: 25px;
    text-decoration: none;
    font-family: NerkoOne;
}

.Next{
    position: relative;
    left: 93%;
    margin-bottom: 8px;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #16613e;
    border-radius: 5px;
    
}

.Next a{
    color: #dbf5f2;
    font-size: 25px;
    text-decoration: none;
    font-family: NerkoOne;
}