body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

body{
    background: linear-gradient(#e1f1a9 22%, #6cede1 88%) fixed;
}

h1{
    font-family: NerkoOne;
    color: #0a6259;
    text-align: center;
    font-size: 40px;
}

nav a{
    font-family: NerkoOne;
    color: #0a6259;
    margin: 20px;
    text-decoration: none;
    font-size: 30px;
}

.Res{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px 250px 250px;
    grid-row-gap: 150px;  
    justify-items: center; 
    padding-bottom: 200px; 
}

.name{
    font-family: NerkoOne;
    font-size: 30px;
    margin: 0 0;
    color: aquamarine;
    background-color: #0a6259;
    width: 300px;
}

.title{
    font-family: NerkoOne;
    margin: 5px;
    width: 290px;
    margin-bottom: 0px;
    color: aqua;
    background-color: #0a6259;
}

.contacts{
    font-family: NerkoOne;
    font-size: 20px;
    margin: 0px;
    margin-left: 5px;
    width: 290px;
    color: aliceblue;
    background-color: #0a6259;
}

img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

