body, h2, a{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: NerkoOne;
    src: url(/Fonts/NerkoOne-Regular.ttf);
}

@font-face{
    font-family: PlaywriteCU;
    src: url(/Fonts/PlaywriteCU-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mali;
    src: url(/Fonts/Mali-SemiBold.ttf);
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(#e1f1a9, #8fe97d, #6cede1);
}

nav{
    display: inline-block;
    padding: 10px;
    border: 10px solid #019082;
    border-radius: 10% 25%;
    background-color: #019082;
}

nav a{
    font-family: NerkoOne;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    
}

.info{
   text-align: center;
   margin-bottom: 100px;
}

.about{
    font-family: PlaywriteCU;
    font-size: 40px;
    color: #5185b4;
    text-shadow: -4px 5px #33403f;
}

.h{
    font-family: Mali;
    color: #295276;
    font-size: 30px;
    text-shadow: -3px 2px #5185b4;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.infos{
    font-family: NerkoOne;
    text-align: justify;
    font-size: 25px;
    margin-top: 0px;
    margin: 20px 100px 20px 100px;
    line-height: 1.5;
    color: #33403f;
}

.infos2{
    font-family: NerkoOne;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin: 20px 100px 20px 100px;
    line-height: 1.5;
    color: #33403f;
}

.Btn {
    display: none;
    position: fixed;
    bottom: 90%;
    left: 95%;
    top: 90%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #019082;
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.Btn:hover {
    background-color: aquamarine;
}

.arrow{
    position: relative;
    bottom: 8px;
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}

.up{
    position: relative;
    transform: rotate(-135deg);
}